@use "./global.scss" as *;

.listHeader {
    display: flex;
    justify-content: space-between;
    &:hover {
        background-color: #FFFAF0;
    }
}


li {
    border-top: 1px solid $tertiary;

    &:last-of-type {
        border-bottom: 1px solid $tertiary;
    }
}


.statContainer {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.expand {
    max-height: 50rem;
}

.delete {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: $tertiary;
    font-size: 5rem;
    &:hover {
        color: #000;
    }
}