@use "./global.scss" as *;

.movies {
    margin-top: 25px;
}

.titleFlex {
    display: flex;
    justify-content: space-between;
    .logOut {
        margin: 0;
        align-self: center;
    }
}


.listHeader {
    display: flex;
    justify-content: space-between;
    &:hover {
        background-color: #FFFAF0;
    }
}


li {
    border-top: 1px solid $tertiary;

    &:last-of-type {
        border-bottom: 1px solid $tertiary;
    }
}


.statContainer {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.expand {
    max-height: 50rem;
}


.delete {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: $tertiary;
    font-size: 5rem;
    &:hover {
        color: #000;

.movieForm {
    display: none;
    transition: 1s;
}

.show {
    display: flex;
    flex-direction: column;
    input, textarea {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 1.5rem;
        border-style: solid;
        outline: none;
    }
    textarea {
        resize: none;
        height: 10rem;

    }
}