@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&display=swap');

$headingFont: 'Open Sans', sans-serif;
$bodyFont: 'Inter', sans-serif;
$primary: #00BFFF;
$secondary: #FFF;
$tertiary: #708090;

@mixin titleText {
    font-family: $headingFont;
    font-size: 2.3rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    letter-spacing: .1px;
}

@mixin bodyText {
    font-family: $bodyFont;
    font-size: .7rem;
    line-height: 1.2rem;
    letter-spacing: .3px;
}


html {
    @include bodyText;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
}

button {
    background-color: $primary;
    background-color: #00BFFF;
    padding: 1.2rem 0;
    border-radius: 5rem;
    text-transform: uppercase;
    color: $secondary;
    border-style: none;
    width: 10rem;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    input {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 1.5rem;
        border-style: solid;
        outline: none;
    }
}